
body {
    background-color: #f0f2f5;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}


.main-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


body.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(21deg, #6197e9 0%, #00d2ff 100%);
}

.login-card {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    background-color: white;
}


.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.balance-card {
    background: linear-gradient(45deg, #004e92, #230028);
    color: #ffffff;
}


#suggestions {
    position: absolute;
    width: 100%;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.list-group-item-action { cursor: pointer; }